################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/OverlayChanger/bin/Debug
/src/OverlayChanger/obj/Debug
/src/.vs/OverlayChanger/v14
/src/OverlayChanger/OverlayChanger_TemporaryKey.pfx
/src/OverlayChanger/OverlayChanger.csproj.user
